/* ---- */

*  {
	margin: 0;
	padding: 0;
	
}

body {

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(imagens/fundo.png) repeat-x;
}

#principal {
	width: 800px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #b10333;
}

a:hover{
	text-decoration: underline;
}

p {
	margin-top: 8px;
}


/* topo */

#topo {
	height: 150px;
	background: url(imagens/detalhe-topo.png) no-repeat top right;
	padding-top: 25px;
 }


.logo {
	width: 152px;
	height: 66px;
	background: url(imagens/logo.png);
	text-indent: -3000px;
	
}

/* barra de nav hor */

#topo ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #b10333;
	margin-top: 30px;
	float: left;
}

#topo li {
  float: left;
}


#topo ul a {
	text-decoration: none;
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	color: #fff;
	background: url(imagens/divisor.png) no-repeat left center;

}

#navegacao .primeiro a {
	background: none;
}



#topo ul#navegacao a:hover{
	color: #69021d;
	background: #de003e;

}

	 
#navegacao {
	color: #fff;
  background: #de003e;

}

#navegacao .clicked a {
	color: #fff;
  background: #de003e;
  cursor: text;

}

#navegacao .clicked a:hover {
	color: #fff !important;
}

/* conteudo */

#conteudo {
 margin-top: 60px;
 background: #f5f5f5;
 float: left;
}

#primario {
	 width: 270px;
	 float: left;
	 margin: 0 0 20px 195;
}

#tres-colunas #primario {
	 width: 270px;
   margin: 0 0 20px 195px;
}

#duas-colunas #primario {
	width: 555px;
	margin: 0 0 20px 195px;
}


#uma-coluna #primario {
	width: 750px;
	margin: 0 0 20px 0px;
}

#secundario {
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}

#lateral {
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}

/*caixas*/ 

.caixa {

  padding: 5px;
	margin: 10px 0;
	background: #f3f3f3 url(imagens/fundo-caixa.png);
}

.caixa h2 {

	text-align: center;
	font-size: 1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}


.caixa-conteudo {
	background: #fff;
	margin: 20px;
	margin-top: 5px;
}

label  {
	text-indent: 2px;
	display: block;
	cursor: pointer;
}

input {
	margin-left: 2px;
	padding: 5px;
	width: 125px;
	font-size: 0.9em;
	background-color: #fff;
}

input.submit  {
	margin-top: 2px;
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border-bottom: 2px solid #870529;

}

#conteudo .caixa img.principal-picture {
	border: 3px solid #dfdfdf;
	width: 98%;
  margin: 12px 0;
	
}

.caixa h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  display: inline;
  padding: 3px;
  background: #b10333;
  color: #fff;

}

#duas-colunas .caixa h3.destaque {
	text-align: center;
	margin-left: 3px;
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  padding: 3px;
  background: #b10333;
  color: yellow;
  width: 130px;
  margin: auto;

}

 .caixa h3.destaque {
	text-align: center;
	margin-left: 3px;
  text-transform: uppercase;
  font-size: 0.8em;
  display: inline;
  padding: 3px;
  background: #b10333;
  color: yellow;
 

}

/* entrevistas */

#lateral ul a {
	font-size: 15px;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
	background: #f9f9f9 url(imagens/marcador.png) no-repeat center left;
	text-indent: 1.2em;
	color: #a1a1a1;
}


form {
 margin-top: 5px;
 background: #fff;
 padding: 2px;
}



/* ---------------- */

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px dotted #ccc;
	height: 65px;



}

#lista-noticias li a img {
	float: left;
	margin: 5px;
	width: 80px;
}

#lista-noticias li a {
	text-decoration: none;
	font-size: 0.8em;	

	}


#lista-noticias li a h3 {
	font-size: 0.9em;
	color: #3e7ab9;
	background: none;
	text-align: center;
	padding-top: 3px;
	float: left;
}

#tres-colunas ul#lista-noticias li a p {

	font-size: 0.95em;
	color: #000;
	margin-left: 2px;
	text-indent: 1px;
	padding-top: 3px;

}

#duas-colunas ul#lista-noticias li a p {
	
	float: left;
	width: 400px;
	margin-top: 2px;
	font-size: 0.95em;
	color: #000;
	margin-left: 2px;
	text-indent: 1px;
	padding-top: 3px;
}

#uma-coluna ul#lista-noticias li a p {
	
	float: left;
	width: 500px;
	margin-top: 2px;
	font-size: 0.95em;
	color: #000;
	margin-left: 2px;
	text-indent: 1px;
	padding-top: 3px;
}







/* rodape */ 

#rodape {
	background: #294c71;
	padding: 20px;
	clear: both;
	
}

#conteudo-rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;

}